# Terraform files and folders
**/.terraform/*
.terraform.lock.hcl
/terraform/archived/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Dev folder
/dev/

# Ansible files and folders
/ansible/group_vars/
/ansible/host_vars/
/ansible/ansible.cfg

# Homelab-V2 sensitive files and folders
/homelab-v2.0/ansible/group_vars/
/homelab-v2.0/ansible/host_vars/
/homelab-v2.0/ansible/ansible.cfg